{% extends 'layout.html' %}
{% block content %}

<h3>2016 A.L.L. Season</h3>
<img src='static/2016.jpg' />
<a href='http://www.laxpower.com/update16/binmen/XA11XX.PHP'>Read More Here</a>
<br><br><br><br>

<h3>2015 A.L.L. Season</h3>
(Made it to the North Blue Finals)
<img src='static/2015.jpg' />
<a href='http://www.laxpower.com/update15/binmen/XA11XX.PHP'>Read More Here</a>
<br><br><br><br>

<h3>2014 Salt Shakerz Invitational Masters Champions</h3>
<img src='static/2014ss.jpg' />
<br><br><br><br>

<h3>2014 A.L.L. Season</h3>
<img src='static/2014.jpg' />
<br>
<a href='http://www.laxpower.com/update14/binmen/XA11XX.PHP'>Read More Here</a>
<br><br><br><br>

<h3>2013 A.L.L. Season</h3>
<img src='static/2013.jpg' />
<br>
<a href='http://www.laxpower.com/update13/binmen/XA11XX.PHP'>Read More Here</a>
<br><br><br><br>

<h3>2012 A.L.L. Season</h3>
(11-2 Falling in the NY Semi Final)
<img src='static/2012.jpg' />
<br>
<a href='http://www.laxpower.com/update12/binmen/XA11XX.PHP'>Read More Here</a>
<br><br><br><br>

<h3>2011 Salt Shakerz Invitational Champions</h3>
<img src='static/randals.jpg' />
<br>
<a href='http://art.laxallstars.com/creating-a-perfect-storm-brooklyn-lacrossethe-art-of-lax%E2%84%A2/'>Read More Here</a>
<br><br><br><br>

<h3>2011 War on the Shore Squad</h3>
(Undefeated day one, lost in OT day two)
<br>
<img src='static/olskool.jpg' />
<br>
<a href='http://art.laxallstars.com/team-ol-skool-war-at-the-shore-preview/'>Read More Here</a>

{% endblock %}
